<div class="row">
  <div class="col-md-12">
    <%= link_to user_notes_path(current_user), class:"btn grey-bg" do %>
      <span class="glyphicon glyphicon-arrow-left"></span>&ensp;
      Back to My Notes
    <% end %>
  </div>
</div>

<div class="row margin-top-50">
  <div class="col-sm-12">
      <% if editing %>
        Currently editing <strong><%= @note.title %></strong>, Last saved: <%= @note.updated_at.to_s(:long_ordinal)%>.
      <% else %>
        New note.
      <% end %>
      <br><br>
    <%= f.text_field :title, class: 'form-control note-title', placeholder:"Title here ...", autocomplete: "off"%>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="actions">
      <%= f.submit btn_prompt, class: 'btn dark-green-bg' %>&ensp;
      <%= link_to 'https://guides.github.com/features/mastering-markdown/#what', class: 'btn grey-bg', target:"_blank" do %>
        <span class="glyphicon glyphicon-new-window"></span>&ensp;
        Markdown Cheatsheet
      <% end %>&ensp;

      <section class="custom-check-box">
        <%= f.check_box :public %>
        <div class="control-indicator"></div>
        <%= f.label :public, "Make this note public?" %>
      </section>
    </div> 
  </div>
  <div class="col-sm-6">
    <p> Preview: </p>
  </div>
</div>
<div class="row">
  <div id="note-input" class="col-sm-6">
    <div class="expandable-area" data-expandable-area>
      <pre class="expandable-area-child"><span></span><br></pre>
      <%= f.text_area :content, {class: 'form-control expandable-area-child', placeholder: "Type your notes in Markdown here"}%>
    </div>
  </div>

  <div id="note-preview" class="note-preview col-sm-6 holder rendered-note">
  </div>
</div>