<h3>Create new Notebook</h3>

<%= form_for @note_book, url: {:action => 'create', :controller => 'note_books'} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit "Create" , class:"btn btn-lg red-bg" %>

<% end %>
<%= link_to 'Back to Notebooks', {:action => 'index'} %>
