<div class="sidebar">
  <li class="menu-item">
    <a href="#" data-toggle="tooltip" data-placement="right" title="Signed in as <%= current_user.name %>">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </li>
  <li class="menu-item">
    <%= link_to new_user_note_book_path(current_user), title: "New Notebook", data:{ toggle: "tooltip", placement: "right" } do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  </li>
  <li class="menu-item">
    <%= link_to user_note_books_path(current_user), title: "My Notebooks", data:{ toggle: "tooltip", placement: "right" } do %>
      <span class="glyphicon glyphicon-list-alt"></span>
    <% end %>
  </li>

  <div class="bottom-menu-items">
    <li class="menu-item">
      <%= link_to signout_path, title: "Log Out", data:{ toggle: "tooltip", placement: "right" } do %>
        <span class="glyphicon glyphicon-log-out"></span>
      <% end %>
    </li>
    <li class="menu-item">
      <a href="#" data-toggle="modal" data-target="#account_deletion_modal" data-placement="right" title="Delete Account">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </li>
  </div>
</div>

<!-- Delete Account Modal -->
<div class="modal" id="account_deletion_modal">
  <div class="modal-dialog">
    <div class="modal-content margin-top-200">
      <div class="modal-body">
        <h3 class="no-margin-top">Delete your account?</h3>
        <p>You are about to permanently delete your account on Notebook.</p>
        <p>All your notes and notebooks will be deleted. Users with whom you have shared notes and notebooks will no longer be able to view them.</p>
        <p>Are you sure you wish to permanently delete your account?</p>
      </div>
      <div class="modal-footer">
        <button class="btn grey-bg" data-dismiss="modal">Cancel</button>
        <%= link_to 'Delete Account', current_user, class: 'btn red-bg', method: :delete %>
      </div>
    </div>
  </div>
</div>
