<!DOCTYPE html>
<html>
<head>
  <title>Notebook - by Nobilis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'partials/shared/mobile_meta_tags'%>
</head>
  
<body class="application_layout <%= controller_name %> <%= action_name %>">
  <%= render 'partials/application/menu'%>

  <div class="main-container">
    <%= render 'partials/shared/flashes' %>
    <%= yield %>
  </div>
</body>
</html>
